@font-face {
  font-family: "Jakarta";
  src: url(../assets/fonts/static/PlusJakartaSans-Medium.ttf);
}

$font1: "Jakarta";

//primary color

$lime: hsl(61, 70%, 52%);
$red: hsl(4, 69%, 50%);

//neutral

$white: hsl(0, 0%, 100%);
$Slate100: hsl(202, 86%, 94%);
$Slate300: hsl(203, 41%, 72%);
$Slate500: hsl(200, 26%, 54%);
$Slate700: hsl(200, 24%, 40%);
$Slate900: hsl(202, 55%, 16%);

@mixin input {
  width: 100%;
  border: none;
  height: 20px;
  padding: 12px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: $Slate700;
  &:focus{
    outline: none;
  }
  
}

@mixin focused {
  &.focused {
    border-color: $lime; // Change la couleur de la bordure lors de la sélection
    background-color: hsla(61, 70%, 52%, 0.579); // Change le fond de la div

    i {
      background-color: $lime; // Change le fond de l'icône aussi
    }
  }
}
