.main_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid #000000;
  
  width: 60%;
  background-color: $white;
border-radius: 12px;
overflow: hidden;
  .calculator-container{
    display: flex;
    align-items: center;
    
    width: 100%;
    
  }

  .result-container{
    display: flex;
    
    

  }
}