.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 60vh;

  width: 48%;
  background-color: $white;
  border-radius: 16px;
  overflow: hidden;
  .calculator-container {
    display: flex;
    align-items: center;

    width: 100%;
  }

  .result-container {
    display: flex;
  }
}
